extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Courtney Luc

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | I'm a recent NPower - Jersey City Alumna, whose dreams of pursuing a field in the Software/Web Development became a reality three months ago thanks to Verizon (Project Athena) and Treehouse.
            | I'm currently learning full-stack JavaScript, however I have been exposed to other programming languages, two of them being C++ and Python.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li JavaScript
          li HTML
          li CSS
          li jQuery
          li Object - Oriented Programming
          li AJAX
          li Node
          li Express
          li Python
          li Pug
          li Networking
          li Information Technology  

        h6 Contact Info

        ul
          li (877) 393-4448
          li courtney.luc@verizon.com

        a.button.expanded(href='https://www.linkedin.com/in/courtney-luc/' target='blank') LinkedIn
        a.button.expanded(href='https://github.com/courtneyl22' target='blank') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  